.projects {
  background: var(--mainGrey);
  padding: 4rem 0;
}
.center {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-column-gap: 2rem;
}
.project {
  margin: 2rem 0;
  text-align: center;
}
.project span {
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.project h4 {
  text-transform: uppercase;
}

@media screen and (max-width: 650px) {
  .center {
    margin: 0 auto;
    display: block;
  }
  .project span img {
    width: 76vw;
  }
}